{%- assign tabs = shop.metafields.collection_tabs -%}

{%- for collection in product.collections -%}
  {%- assign bulk_key = product.type | append: '_discount' -%}
  {%- assign resources_key = product.type | append: '_resources' -%}
{%- endfor -%}

<div class="Product__Tabs">
	

 
  {% render 'tab_made_better'%}
{% if  product.type!="vessels" %}    
{%- if tabs[bulk_key] -%}
  <div class="Collapsible Collapsible--large">
	<button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
	  BULK DISCOUNTS <span class="Collapsible__Plus"></span>
	</button>

	<div class="Collapsible__Inner">
	  <div class="Collapsible__Content">
		<div class="Rte">
		  {{ tabs[bulk_key] | newline_to_br }}
		</div>
	  </div>
	</div>
  </div>
{%- endif -%}
{%- endif -%}

{%- if tabs[resources_key] -%}
  <div class="Collapsible Collapsible--large">
	<button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
	  HELPFUL RESOURCES <span class="Collapsible__Plus"></span>
	</button>

	<div class="Collapsible__Inner">
	  <div class="Collapsible__Content">
		<div class="Rte">
		  {{ tabs[resources_key] | newline_to_br }}
		</div>
	  </div>
	</div>
  </div>
{%- endif -%}

</div>
<style>
.img_logo_betterff{width:20px;height:20px;position:relative;margin-top:2px;}
.container_icon_tagff{width:120%;margin-bottom:8px;}
</style>
