{% assign list_tags_text = "Organic,All-Natural,Gluten-Free,Cruelty-Free,Allergen-Free,Sustainably-Made,Biodegradable,Recyclable,Vegan,Carcinogen-Free,Toxin-Free,Mutagen-Free,Phthalate-Free, " | split: ',' %} 

{% assign list_icons_link = "
https://cdn.shopify.com/s/files/1/0411/8246/2106/files/ORGANIC.png?v=1619131364
,https://cdn.shopify.com/s/files/1/0411/8246/2106/files/ALL-NATURAL_1.png?v=1619130922
,https://cdn.shopify.com/s/files/1/0411/8246/2106/files/GLUTEN-FREE.png?v=1619131417
,https://cdn.shopify.com/s/files/1/0411/8246/2106/files/CRUELTY-FREE.png?v=1619131480
,https://cdn.shopify.com/s/files/1/0411/8246/2106/files/ALLERGEN-FREE_1.png?v=1619130922
,https://cdn.shopify.com/s/files/1/0411/8246/2106/files/SUSTAINABLY-MADE.png?v=1619131527
,https://cdn.shopify.com/s/files/1/0411/8246/2106/files/BIODEGRADABLE_1.png?v=1619130922
,https://cdn.shopify.com/s/files/1/0411/8246/2106/files/RECYCLABLE.png?v=1619131576
,https://cdn.shopify.com/s/files/1/0411/8246/2106/files/VEGAN.png?v=1619131615
,https://cdn.shopify.com/s/files/1/0411/8246/2106/files/MADEBETTER-ICON-DESCRIPTION-CARCINOGEN-FREE.png?v=1620343587
,https://cdn.shopify.com/s/files/1/0411/8246/2106/files/TOXIN-FREE.png?v=1620563493
,https://cdn.shopify.com/s/files/1/0411/8246/2106/files/WW_MADE-BETTER-MUTAGENFREE.png?v=1620563494
,https://cdn.shopify.com/s/files/1/0411/8246/2106/files/MADEBETTER-ICON-DESCRIPTION-PHTHALATE-FREE.png?v=1620343586
,
" | split: ',' %}
{% assign j=0 %}

{% for tag_text in  list_tags_text %}
{% if product.tags contains tag_text %}
{% assign j=j|plus:1 %}
{% endif %}
{% endfor %} 

<div class="Collapsible Collapsible--large   {% if j==0 %} hide_tab01 {% endif %}">
	<button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
	 MADE BETTER <span class="Collapsible__Plus"></span>
	</button>

	<div class="Collapsible__Inner" style="overflow: hidden; height: 0px;">
	  <div class="Collapsible__Content">
	
        {% assign i=0 %}
{% for tag_text in  list_tags_text %}
{% if product.tags contains tag_text %}
<img  src="{{list_icons_link[i]}}" class="container_icon_tagff"> 
{% endif %}
{% assign i=i|plus:1 %}
{% endfor %}    
   
	 
	  </div>
	</div>
  </div> 

   

  
