{%- capture flickity_options -%}
  {
    "prevNextButtons": true,
    "pageDots": false,
    "wrapAround": false,
    "contain": true,
    "cellAlign": "center",
    "watchCSS": true,
    "dragThreshold": 15,
    "groupCells": true,
    "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
  }
{%- endcapture -%}

<section class="Section Section--spacingNormal" data-section-id="{{ section.id }}">
  
    <div class="CollectionsSlider__Collection" data-product-url="#">
	{%- if section.settings.subheading != blank or section.settings.title != blank -%}
		<header class="SectionHeader SectionHeader--center">
		  <div class="Container">
			{%- if section.settings.subheading != blank -%}
			  <h3 class="SectionHeader__SubHeading Heading u-h6" style="margin-top: 5px;">{{ section.settings.subheading | escape }}</h3>
			{%- endif -%}

			{%- if section.settings.heading != blank -%}
			  <h2 class="Heading__Underline SectionHeader__Heading Heading u-h1">{{ section.settings.heading | escape }}</h2>
			{%- endif -%}
		  </div>
		</header>
	{%- endif -%}
  
    <div class="CollectionsSlider CollectionsSlider_{{ section.id }} ProductList--carousel Carousel">
	  {%- for block in section.blocks -%}
	    <div class="Carousel__Cell">
			<a href="{{block.settings.collection_link_url}}">
				<div class="CollectionGroupItem">
				  <div class="slider_pic" style="background-image: url({{ block.settings.collection_image  | img_url: '500x' }})">
				  </div>
					{%- if block.settings.collection_subtitle != blank -%}
					<span class="CollectionGroupItem__Subtitle Heading">{{ block.settings.collection_subtitle }}</span>
					{%- endif -%}
					<span class="CollectionGroupItem__Title Heading">{{ block.settings.collection_title }}</span>
				</div>
			</a>
		</div>
	  {%- endfor -%}
    </div>
    
    <div class="SectionFooter">
      	<a class="Link Link--underline Link--prominent" href="{{section.settings.link_url}}">{{section.settings.link_text}}</a>
      </div>
    </div>

</section>

<!-- Setting up Flickity manually; for some reason, setting config in the way the base theme does so on other sliders isn't working. -->

<script>
var target = document.querySelector('.CollectionsSlider_{{ section.id }}');
var flkty = new Flickity( target, {
  prevNextButtons: true,
  pageDots: false,
  wrapAround: false,
  contain: true,
  cellAlign: "center",
  watchCSS: true,
  dragThreshold: 15,
  groupCells: true
});
</script>

{% schema %}
{
  "name": "Collections Slider",
  "class": "shopify-section--bordered",
  "max_blocks": 15,
  "settings": [
  {
	  "type": "header",
	  "content": "Collection Group Settings"
	},
	{
	  "type": "text",
	  "id": "subheading",
	  "label": "Sub-heading",
	  "default": "Sub-heading"
	},
	{
	  "type": "text",
	  "id": "heading",
	  "label": "Heading",
	  "default": "Heading"
	},
	{
	  "type": "text",
	  "id": "link_text",
	  "label": "Link Text",
	  "default": "Add the text for this collections's link..."
	},
	{
	  "type": "url",
	  "id": "link_url",
	  "label": "Link"
	}
  ],
  "blocks": [
    {
      "type": "collection_group",
      "name": "Collection",
      "settings": [
		{
		  "type": "collection",
		  "id": "collection",
		  "label": "Collection"
		},
		{
		  "type": "image_picker",
		  "id": "collection_image",
		  "label": "Image",
		  "info": "290px x 350px .jpg recommended"
		},
		{
		  "type": "text",
		  "id": "collection_subtitle",
		  "label": "Sub-Title"
		},
		{
		  "type": "text",
		  "id": "collection_title",
		  "label": "Title",
		  "default": "Title"
		},
		{
		  "type": "url",
		  "id": "collection_link_url",
		  "label": "Link"
		} 
      ]
    }
  ],
  "presets": [
    {
      "category": "Collection",
      "name": "Collections Slider",
      "settings": {},
      "blocks": [
        {
          "type": "collection_group",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}
