<section class="Section Section--spacingNormal" id="section-{{ section.id }}"  data-section-id="{{ section.id }}">

  <div class="Container">
    <header class="SectionHeader SectionHeader--center">
	  {%- if section.settings.subheading != blank -%}
		<h3 class="SectionHeader__SubHeading Heading u-h6">{{ section.settings.subheading | escape }}</h3>
	  {%- endif -%}

	  {%- if section.settings.title != blank -%}
		<h2 class="Heading__Underline SectionHeader__Heading Heading u-h1">{{ section.settings.title | escape }}</h2>
	  {%- endif -%}
	</header>
	
	<div class="DuelVideo">
	  <div class="DuelVideoWrapper">
	      {%- capture img_1_tag -%}
	      	<img src="{{ section.settings.image_1 | img_url: '850x', format: 'jpg' }}" />
	      {%- endcapture -%}
	    	{%- if section.settings.image_1_link_url -%}
	    		<a href="{{ section.settings.image_1_link_url }}">
	    	{%- elsif section.settings.video_url_1 -%}
	    	  {%- assign vidSplit1 = section.settings.video_url_1 | split: "/" -%}
			  {%- capture new_vid_1_url -%}
			    https://youtube.com/embed/{{ vidSplit1.last }}
			  {%- endcapture -%}
	    		<a onclick="playYouTubeVideo('vid1')" href="javascript:void(0);">
	    	{%- endif -%}
	    			{{ img_1_tag }}
	    		</a>
      <div class="CollectionGroupItem__Title Heading VideoTitle">{{ section.settings.video_title_1 }}</div>
	  </div>

	  <div class="DuelVideoWrapper">
	      {%- capture img_2_tag -%}
	      	<img src="{{ section.settings.image_2 | img_url: '850x', format: 'jpg' }}" />
	      {%- endcapture -%}
	    	{%- if section.settings.image_2_link_url -%}
	    		<a href="{{ section.settings.image_2_link_url }}">
	    	{%- elsif section.settings.video_url_2 -%}
	    	  {%- assign vidSplit2 = section.settings.video_url_2 | split: "/" -%}
			  {%- capture new_vid_2_url -%}
			    https://youtube.com/embed/{{ vidSplit2.last }}
			  {%- endcapture -%}
	    		<a onclick="playYouTubeVideo('vid2'); return false;">
	    	{%- endif -%}
	    			{{ img_2_tag }}
	    		</a>

        <div class="CollectionGroupItem__Title Heading VideoTitle">{{ section.settings.video_title_2 }}</div>
	  </div>
	</div>
	
	{%- if section.settings.link_text != blank -%}
      <div class="SectionFooter FeaturedVideoFooter">
        <a href="{{ section.settings.link_url }}" style="font-size: 20px;" class="Link Link--underline Link--prominent">{{ section.settings.link_text | escape }}</a>
      </div>
    {%- endif -%}
	
  </div>

<iframe style="display: none" id="vid1" class="Image--lazyLoad" data-src="{{ new_vid_1_url | strip }}?autoplay=1&playsinline=1&showinfo=0&controls=1&rel=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>

<iframe style="display: none" id="vid2" class="Image--lazyLoad" data-src="{{ new_vid_2_url | strip }}?autoplay=1&playsinline=1&showinfo=0&controls=1&rel=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>

</section>

<script>

function playYouTubeVideo(vidNumber) {
  console.log(vidNumber);
  var iframe = document.getElementById(vidNumber);
  iframe.style.display = "block";
  iframe.autoplay = 1;
	iframe.playsinline = 1;
  event.currentTarget.replaceWith(iframe);
}

</script>

<style>
  #section-{{ section.id }},
  #section-{{ section.id }} .Heading {
    color: {{ section.settings.text_color }};
  }
</style>

{% schema %}
{
  "name": "Featured videos",
  "class": "shopify-section--bordered",
  "settings": [
    {
	  "type": "header",
	  "content": "Section Settings"
	},
	{
	  "type": "text",
	  "id": "subheading",
	  "label": "Sub-heading",
	  "default": "Sub-heading"
	},
	{
	  "type": "text",
	  "id": "title",
	  "label": "Title",
	  "default": "Title"
	},
	{
	  "type": "text",
	  "id": "link_text",
	  "label": "Link text",
	  "default": "Link text"
	},
	{
	  "type": "url",
	  "id": "link_url",
	  "label": "Link"
	},
    {
	  "type": "header",
	  "content": "Block 1 (left)"
	},
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image",
      "info": "850 x 480px .jpg recommended."
    },
	{
	  "type": "header",
	  "content": "Link OR Video URL"
	},
	{
	  "type": "paragraph",
	  "content": "Please enter either a video link OR a regular link. If you enter a YouTube link below, the video will play in place when a customer clicks on the image. If you enter a regular link, a click will take a user to that page. Note that a regular link will override a video link if both are present."
	},
	{
	  "type": "url",
	  "id": "image_1_link_url",
	  "label": "Regular Link"
	},
    {
	  "type": "video_url",
      "accept": ["vimeo", "youtube"],
      "id": "video_url_1",
      "label": "Video URL",
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
	},
  {
    "type": "text",
    "id": "video_title_1",
    "label": "Video Title"
  },
    {
	  "type": "header",
	  "content": "Video 2 (right)"
	},
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image",
      "info": "850 x 480px .jpg recommended."
    },
    {
	  "type": "header",
	  "content": "Link OR Video URL"
	},
	{
	  "type": "paragraph",
	  "content": "Please enter either a video link OR a regular link. If you enter a YouTube link below, the video will play in place when a customer clicks on the image. If you enter a regular link, a click will take a user to that page. Note that a regular link will override a video link if both are present."
	},
	{
	  "type": "url",
	  "id": "image_2_link_url",
	  "label": "Regular Link"
	},
	{
	  "type": "video_url",
      "accept": ["vimeo", "youtube"],
      "id": "video_url_2",
      "label": "Video URL",
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
	},
  {
    "type": "text",
    "id": "video_title_2",
    "label": "Video Title"
  }
  ],
  "presets": [
    {
      "category": "Video",
      "name": "Featured video",
      "settings": {}
    }
  ]
}
{% endschema %}