/* alan temp style over ride */
.template-index .ArticleItem__Category {
    content-visibility: hidden;
}


/**
 * This file contains various generic bloc to use with images
 */



/* DO Custom Sytle Overrides - Base 
   Includes overrides for header, footer, homepage and page sections.
*/


.Header__Icon {
  margin-top: 0;
  &.wishlist-icon {
    max-height: 14px;
    margin-top: -2px;
    vertical-align: middle;
  }
  &.mag_glass {
    margin: -3px 0 0 0 !important;
  }
}

#Search {
  .Heading.u-h7 {
    text-transform: uppercase;
  }

  .Segment__Title--flexed {
    align-items: flex-start;
    flex-direction: column;
  }
}

.ProductItem__Info {
  button.swym-button {
    padding-left: 2px !important;
    max-height: 12px;
  }
}

.u-h6,
.Rte h6 {
  font-size: 12px !important;
  text-transform: uppercase;
}

@media (min-width: 1600px) {
  nav.Header__MainNav.rightNav .HorizontalList__Item {
    margin-right: 2vw;
  }
}

@media (max-width: 1599px) {
  nav.Header__MainNav.rightNav .HorizontalList__Item {
    margin-right: 0.25vw;
  }
  nav.Header__MainNav .HorizontalList--spacingExtraLoose .HorizontalList__Item {
    margin-right: 0.75vw;
  }
}

#swym-no-items {
  strong {
    font-family: "LucidaGrandeBold", sans-serif;
    font-weight: normal !important;
    color: #1c1b1b !important;
    font-size: 15px !important;
    text-transform: lowercase;
    letter-spacing: 0.05em;
  }
  p {
    font-family: "LucidaGrande", sans-serif !important;
    font-size: 14px;
    line-height: 23px !important;
  }
}

.lion-notification__message {
  font-family: "LucidaGrande", sans-serif !important;
  font-size: 11px !important;
  letter-spacing: 0.05em !important;
}

.lion-notification__action-button {
  border-radius: 0 !important;
  background-color: #f3c6a3 !important;
  color: #1c1b1b !important;
  font-family: "LucidaGrande", sans-serif !important;
  font-size: 11px !important;
  text-transform: capitalize !important;
  letter-spacing: 0.05em !important;
}

// Temporarily hide quickview from Homepage
#shopify-section-featured-collections .ProductItem__Quickview,
#shopify-section-1605311917b01e5e7d .ProductItem__Quickview {
  display: none;
}

// Minicart
#shopify-section-cart-template,
.Cart.Drawer__Content {

  .CartItem__Title {
    font-size: 12px;
    font-family: "LucidaGrandeBold", sans-serif;
    text-transform: uppercase;
  }

  .CartItem__Meta {
    font-family: "Avenir Book", sans-serif !important;
    font-size: 13px;
    letter-spacing: 0.1em;
    margin-top: -0.5em;

    .CartItem__Variant {
      letter-spacing: .05em !important;
      font-size: 11px !important;
    }

    .CartItem__Price {
      font-family: "LucidaGrande", sans-serif !important;
      font-size: 11px;
      color: #777777;
      margin-top: -0.5em;
      display: block;
    }
  }

  .CartItem__QuantitySelector {
    font-family: "LucidaGrande", sans-serif !important;
    color: #777777 !important;

    @media (min-width: 640px) {
      .QuantitySelector__Button {
        margin-top: 3px;
      }
    }

    .QuantitySelector__CurrentQuantity {
      font-size: 11px;
      margin-top: 3px;
    }
  }

  .CartItem__Remove {
    font-family: "LucidaGrande", sans-serif !important;
    color: #777777;
    font-size: 11px;
    letter-spacing: 0.05em;
    text-transform: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: 700px) {
    .CartItem__Remove {
      margin: 8px 0;
    }
  }

  .Drawer__Footer {
    font-family: "LucidaGrande", sans-serif !important;
    font-size: 11px;
    letter-spacing: 0.05em !important;
  }

  .Cart__NoteButton {
    font-family: "LucidaGrandeBold", sans-serif !important;
    color: #1c1c1b;
    font-size: 11px;
    letter-spacing: 0.05em;
    margin-top: 10px;

  }

  #agree {
    width: auto;
    margin-bottom: 0.19em;
  }

}

// Cart page

#shopify-section-cart-template {

  .Cart__HeadItem {
    font-size: 15px;
    font-family: "LucidaGrandeBold", sans-serif;
    text-transform: uppercase;
    color: #1c1b1b;
    letter-spacing: 0.05em;
  }

  .CartItem__Meta {
    font-size: 12px;
  }

  #revy-cart-subtotal-price {
    font-family: "LucidaGrandeBold", sans-serif !important;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  .CartItem__Price {
    font-family: "LucidaGrand", sans-serif !important;
    letter-spacing: 0.05em;
  }

  .CartItem__LinePriceList .CartItem__Price {
    color: #1c1b1b;
    font-size: 12px;
  }

  #agree {
    width: auto;
    margin-bottom: 0.19em;
  }
}



/* WW - Alan Watson - 6/30/2021  */
/* Lucida Font Update Overrides  */



// MAIN NAVIGATION OVERRIDES
// MAIN NAVIGATION OVERRIDES

//Main navigation - Give a little extra spacing in between links
nav.Header__MainNav .HorizontalList--spacingExtraLoose .HorizontalList__Item {
    margin-right: 1.95vw !important;
}

nav.Header__SecondaryNav .HorizontalList__Item {
    margin-right: 1.95vw !important;
}

//Enlarge logo on all devices except mobile
@media (min-width: 641px) {
	.Header__LogoImage {
    min-width: 385px;
	}
}

// Main header when the mega menu drops down
span.DetailLinkHeader.MegaMenu__SubTitle.Heading.u-h6 {
    font-size: 15px !important;
    text-transform: uppercase;
}

// Right side of mega menu for New + Novel etc.
p.MegaMenu__PushHeading.Heading.u-h6 {
    font-family: 'LucidaGrande';
    font-size: 11px !important;
    text-transform: capitalize;
  	color: #777777;
}



// HOME PAGE OVERRIDES
// HOME PAGE OVERRIDES

//Hero slider read more link
a.ButtonGroup__Item.Button {
  	font-family: 'LucidaGrandeBold';
    font-size: 12px;
    text-transform: uppercase;
}

//Small title above section headers
h3.SectionHeader__SubHeading.Heading.u-h6 {
    color: #777777 !important;
}

//Our brand story HERO font size override
h2.SectionHeader__Heading.SectionHeader__Heading--emphasize.Heading.u-h1 {
    font-size: 36px !important;
}

//SIDE CART OVERRIDES
//SIDE CART OVERRIDES

//Cart Header
span.Drawer__Title.Heading.u-h4 {
    font-size: 15px;
}

//ReBuy Side Cart Widget override
h4.super-title {
    font-family: 'LucidaGrandeBold' !important;
    font-size: 15px !important;
    text-transform: uppercase !important;
    text-align: left !important;
    letter-spacing: .05em !important;
}

a.rebuy-product-title.clickable {
    font-size: 12px !important;
    font-family: 'LucidaGrandeBold' !important;
    text-transform: uppercase !important;
    letter-spacing: .05em !important;
}

span.rebuy-money {
    font-size: 11px;
    font-family: 'LucidaGrande';
    letter-spacing: .05em;
}

.rebuy-button {
    color: #ffffff !important;
    background: #000000 !important;
    border: none !important;
    font-size: 12px !important;
    font-family: 'LucidaGrandeBold' !important;
  	text-transform: uppercase !important;
    letter-spacing: .05em !important;
}

//Empty Cart Message
p.Cart__Empty.Heading.u-h5 {
    font-size: 12px;
    font-family: 'LucidaGrande';
    letter-spacing: .05em;
}

//Add Order Note Link
button.Cart__NoteButton {
    text-transform: uppercase;
}

span.Cart__NoteButton {
    text-transform: uppercase;
}

//Agree to terms and conditions
label {
    font-size: 10px !important;
    font-family: 'LucidaGrande' !important;
    font-weight: 100 !important;
  	letter-spacing: .05em !important;
}




//PAGES OVERRIDES
//PAGES OVERRIDES

//Titles under main page title override 
h2.pt9.atsackers {
    font-size: 12px;
}

h3.pt9.atsackers {
    font-size: 12px;
}



//BLOG OVERRIDES
//BLOG OVERRIDES

//Blog landing page, hero CTA button
#section-blog-template .ImageHero .Button {
    color: #1c1c1c;
    border-color: #ffffff;
    text-transform: uppercase;
}


//VIDEO PAGE OVERRIDES
//VIDEO PAGE OVERRIDES

//Video landing page title
.title_page_video {
    font-family: 'LucidaGrandeBold' !important;
  	font-size: 22px !important;
    text-transform: uppercase !important;
    letter-spacing: .05em !important;
  	line-height: unset !important
}

//Video page, tighten up spacing between filters and video thumbnails
div#liste_videos_content {
    margin-top: -75px;
}

//Video page interior description
#video_description {
  	font-size: 11px;
    color: #777777;
}

//Video page interior title, adding extra margin to match rest of site headers
h1.Article__Title.Heading.u-h1 {
    margin-top: 40px;
}


//LOYALTY LION OVERRIDES
//LOYALTY LION OVERRIDES

//Pop up call to action
a.lion-notification__action-button.lion-action-button {
    font-size: 12px !important;
    text-transform: uppercase !important;
}

//Pop up message
.lion-notification__message {
    font-size: 11px !important;
    font-family: 'LucidaGrande' !important;
    letter-spacing: 0.05em !important;
    line-height: 1.5em !important;
    color: #777777 !important;
}

