{% comment %} {% section 'collection-hero' %} {% endcomment %}
{% section 'collection-template' %}
{% section 'recently-viewed-products' %}
{% section 'collection-blog-posts' %}
{% section 'collection-bottom-banner' %}
{% comment %} {% section 'collection-footer' %} {% endcomment %}